<div class="parent">
  <div class="child-1">
    <div class="headings">
      <h2>Welcome to DICT.io, you have {{dataSource.number$ | async }} words currently.</h2>
      <h4>Please enter the word</h4>
    </div>
    <div class="input-word">
      <form>
        <p *ngIf="wordToBeUpdated>0" class="update-label">A word is being updated</p>
        <mat-form-field>
          <mat-label>Word</mat-label>
          <input matInput name="word-input" [formControl]="wordListener" autofocus />
        </mat-form-field>
        <button type="button" mat-flat-button color="error" (click)="reset()">Reset</button>
        <button type="button" mat-flat-button color="primary" (click)="onSave()">Save</button>
      </form>
    </div>

    <div class="spinner-container" *ngIf="dataSource.loadingObs && loadingObs | async">
      <mat-spinner></mat-spinner>
    </div>
    <div class="table">
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 table-inner">
        <ng-container matColumnDef="word">
          <mat-header-cell *matHeaderCellDef>WORDDDD</mat-header-cell>
          <mat-cell *matCellDef="let words">{{words.word}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="edit">
          <mat-header-cell *matHeaderCellDef>Edit</mat-header-cell>
          <mat-cell *matCellDef="let words">
            <button (click)="edit(words)">edit</button>
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="delete">
          <mat-header-cell *matHeaderCellDef>Delete</mat-header-cell>
          <mat-cell *matCellDef="let words">
            <button (click)="onDelete(words)">delete</button>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="columns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: columns"></mat-row>
      </table>
    </div>
  </div>
</div>